#!/bin/bash
cat > /etc/hosts << EOF
127.0.0.1 localhost
{%- for node_name, node_ip in rabbit_nodes.iteritems() %}
{{node_ip}} {{node_name}}
{%- endfor %}
EOF

cat > /etc/network/interfaces.d/eth1.cfg << EOF
auto eth1
iface eth1 inet dhcp
metric 1
EOF

ifup eth1

if [ ! -d /var/lib/os-collect-config/local-data ]; then
  mkdir /var/lib/os-collect-config/local-data
fi 

cat > /var/lib/os-collect-config/local-data/metadata.json << EOF
{
  "rabbit" : {
    "cluster_nodes": "{%- for node_name in rabbit_nodes -%}
            'rabbit@{{node_name}}' {%- if not loop.last -%},{%- endif -%}
        {%- endfor -%}",
    "cookie": "{{erlang_cookie}}",
    "default_user": "{{default_rabbit_user}}",
    "default_pass": "{{default_rabbit_pass}}"
  },
  "os-collect-config": {
    "collectors": [ "local", "ec2" ]
  }
}
EOF

os-apply-config
