[
  {kernel,
          [{inet_dist_listen_min, 61000},
           {inet_dist_listen_max, 61000},
           {inet_default_listen_options, [{nodelay, true}, 
                                          {sndbuf, 65535}, 
                                          {recbuf, 65535}, 
                                          {keepalive, true}
                                         ]
           },
           {inet_default_connect_options, [{nodelay, true},
                                           {keepalive, true}
                                          ]
           }
          ]
  },
  {mnesia, [{dump_log_write_threshold, 1000}]},
  {rabbit, [{vm_memory_high_watermark, 0.4},
            {memory_alarms, true},
            {loopback_users,[]},
            {disk_free_limit, {mem_relative, 1.0}},
            {cluster_partition_handling, pause_minority},
            {cluster_nodes, {[{{rabbit.cluster_nodes}}], disc}},
            {default_user, <<"{{rabbit.default_user}}">>},
            {default_pass, <<"{{rabbit.default_pass}}">>}
           ]
  }
].
            
